--
-- PostgreSQL database dump
--

-- Dumped from database version 14.18
-- Dumped by pg_dump version 14.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chat_logs; Type: TABLE; Schema: public; Owner: zoom_bot_user
--

CREATE TABLE public.chat_logs (
    log_id integer NOT NULL,
    meeting_id bigint,
    user_id bigint,
    user_chat text,
    user_role character varying(50),
    chat_type character varying(50),
    bot_classification character varying(100),
    bot_response text,
    "timestamp" timestamp with time zone DEFAULT now()
);


ALTER TABLE public.chat_logs OWNER TO zoom_bot_user;

--
-- Name: chat_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: zoom_bot_user
--

CREATE SEQUENCE public.chat_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_logs_log_id_seq OWNER TO zoom_bot_user;

--
-- Name: chat_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zoom_bot_user
--

ALTER SEQUENCE public.chat_logs_log_id_seq OWNED BY public.chat_logs.log_id;


--
-- Name: commands; Type: TABLE; Schema: public; Owner: zoom_bot_user
--

CREATE TABLE public.commands (
    command_id integer NOT NULL,
    command_name character varying(255) NOT NULL,
    trigger_phrases text[] NOT NULL,
    broadcast_message text NOT NULL,
    ack_message text NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.commands OWNER TO zoom_bot_user;

--
-- Name: commands_command_id_seq; Type: SEQUENCE; Schema: public; Owner: zoom_bot_user
--

CREATE SEQUENCE public.commands_command_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.commands_command_id_seq OWNER TO zoom_bot_user;

--
-- Name: commands_command_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zoom_bot_user
--

ALTER SEQUENCE public.commands_command_id_seq OWNED BY public.commands.command_id;


--
-- Name: meetings; Type: TABLE; Schema: public; Owner: zoom_bot_user
--

CREATE TABLE public.meetings (
    meeting_id bigint NOT NULL,
    password character varying(255),
    start_time timestamp with time zone,
    end_time timestamp with time zone,
    duration_minutes integer,
    meeting_type character varying(100),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.meetings OWNER TO zoom_bot_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: zoom_bot_user
--

CREATE TABLE public.users (
    user_id bigint NOT NULL,
    user_name character varying(255) NOT NULL,
    user_email character varying(255),
    first_seen_timestamp timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO zoom_bot_user;

--
-- Name: chat_logs log_id; Type: DEFAULT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.chat_logs ALTER COLUMN log_id SET DEFAULT nextval('public.chat_logs_log_id_seq'::regclass);


--
-- Name: commands command_id; Type: DEFAULT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.commands ALTER COLUMN command_id SET DEFAULT nextval('public.commands_command_id_seq'::regclass);


--
-- Data for Name: chat_logs; Type: TABLE DATA; Schema: public; Owner: zoom_bot_user
--

COPY public.chat_logs (log_id, meeting_id, user_id, user_chat, user_role, chat_type, bot_classification, bot_response, "timestamp") FROM stdin;
\.


--
-- Data for Name: commands; Type: TABLE DATA; Schema: public; Owner: zoom_bot_user
--



--
-- Data for Name: meetings; Type: TABLE DATA; Schema: public; Owner: zoom_bot_user
--

COPY public.meetings (meeting_id, password, start_time, end_time, duration_minutes, meeting_type, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: zoom_bot_user
--

COPY public.users (user_id, user_name, user_email, first_seen_timestamp) FROM stdin;
\.


--
-- Name: chat_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zoom_bot_user
--

SELECT pg_catalog.setval('public.chat_logs_log_id_seq', 1, false);


--
-- Name: commands_command_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zoom_bot_user
--

SELECT pg_catalog.setval('public.commands_command_id_seq', 4, true);


--
-- Name: chat_logs chat_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.chat_logs
    ADD CONSTRAINT chat_logs_pkey PRIMARY KEY (log_id);


--
-- Name: commands commands_command_name_key; Type: CONSTRAINT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.commands
    ADD CONSTRAINT commands_command_name_key UNIQUE (command_name);


--
-- Name: commands commands_pkey; Type: CONSTRAINT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.commands
    ADD CONSTRAINT commands_pkey PRIMARY KEY (command_id);


--
-- Name: meetings meetings_pkey; Type: CONSTRAINT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.meetings
    ADD CONSTRAINT meetings_pkey PRIMARY KEY (meeting_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: chat_logs chat_logs_meeting_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.chat_logs
    ADD CONSTRAINT chat_logs_meeting_id_fkey FOREIGN KEY (meeting_id) REFERENCES public.meetings(meeting_id) ON DELETE CASCADE;


--
-- Name: chat_logs chat_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zoom_bot_user
--

ALTER TABLE ONLY public.chat_logs
    ADD CONSTRAINT chat_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

